* {
    margin: 0;
    padding: 0;
    font-family: "Source Code Pro", monospace;
  }
  body {
    background-color: rgb(112, 182, 182);
  }
  main {
    display: flex;
    flex-direction: column;
    background-color: rgb(112, 182, 182);
  }
  .textEditor {
    background-color: rgb(112, 182, 182);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .editor {
    resize: vertical;
    margin: 0 auto;
    width: calc(30pc - 10px);
    height: 200px;
    padding: 5px;
    background-color: rgba(254, 255, 255, 0.432);
    outline: none;
    border: 0.8px solid black;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
    -moz-box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
    box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
  }
  .preview {
    background-color: rgba(254, 255, 255, 0.432);
    width: 60%;
    margin: 0 auto 30px;
    padding: 30px;
    border: 0.8px solid black;
    -webkit-box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
    -moz-box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
    box-shadow: 0px 3px 5px 1px rgba(46, 46, 46, 0.87);
  }
  .header,
  .header2 {
    width: 30pc;
    height: 23px;
    background-color: rgb(45, 124, 189);
    margin: 10px auto 0;
    border: 0.8px solid black;
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.87);
    border-bottom: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header2 {
    width: calc(60% + 60px);
  }
  .header {
    margin-top: 30px;
  }
  p {
    padding-left: 10px;
  }
  .fas {
    cursor: pointer;
    margin-right: 10px;
  }
  .fas:hover {
    color: white;
    transition: 100ms ease-in;
  }
  .fa-expand-arrows-alt,
  .fa-compress-arrows-alt {
    float: right;
  }
  
  .expanded-editor {
    width: 95%;
    height: 100vh;
  }
  .expanded-preview {
    width: 90%;
    height: 100vh;
  }
  